body
{ 
    background-color:rosybrown;
    font-family:Arial;

}
h1 {color:black;
    text-align:center;
}

div.motherdiv
{
    margin: 10px auto;
    vertical-align:top;
    width:1000px;
    background-color:rosybrown;
}
div.logo
{
    text-align: center;
    padding: 1px;
    margin: 1px;
    background-color:#F8F6F6;
    border:5px solid #222;
}


.selected
{
    background-color:sienna;
    color:white;
    padding:40px 0 40px 0;  
}

div#navbar
{
    background-color:antiquewhite;
    text-align:center;
    z-index:3;
    position:relative;
    font-weight:bold;
    border:5px solid black;
}
div#navbar ul
{
    list-style-type:none;
}

div#navbar ul li
{
    display:inline-block;
}

div#navbar ul li a
{
    padding-left:40px;
    padding-right:40px;
    display:block;
    text-decoration:none;
}

 
div#navbar ul li:hover
{
    background-color: azure;
    text-decoration:none;
    border:3px solid black;
}

div#navbar ul li:hover ul
{
    display:block;
}

div#navbar ul ul
{
    display: none;
    position:absolute;
    background-color:azure;
    border:3px solid black;
    border-top:none;
    width:120px;
}

div#navbar ul ul li
{
    display:block;
    padding-bottom:30px;
    padding-top:30px;
    margin-left:-20px;
}
div#navbar ul ul li:hover
{
    background-color: sandybrown;
    text-decoration:none;
}

div#navbar ul ul li a
{
    display:block;
    text-align:center;
    text-decoration:none;
}






.banneritem
{
    border: 3px solid rosybrown;
    position:relative;
    
    overflow:hidden;
}


.banneritem .bannertext
{
     position:absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width:100%; 
    height:100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.banneritem:hover .bannertext
{
    top:0px;
}

div.banneritem .bannertext a.morebutton
{
    width: 100px;
    text-align: center;
    padding:10px 0px;
    display:block;
    color:#fff;
    background:rosybrown;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 0px auto 0px auto;
}

.banneritem .bannertext h3
{
    font-size: 20px;
    text-align: center;
}

.banneritem .bannertext h4
{
     font-size: 15px;
    font-weight:bold;
    text-align:center;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 10px;   
}

.banneritem .bannertext p
{
    margin: 15px 0px;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
}

.bannerslider
{
    z-index:1;
    overflow:hidden;
    height:350px;
    position:relative;
}

.bannerslider figure div
{
    width: 20%;
    float:left;
    z-index:1;
}

.bannerslider figure img
{
    width:100%;
    float:left;
    z-index:1;
}

.bannerslider figure
{
    position: relative;
    width: 498%;
    margin:0;
    left:0;
    animation: 25s slide infinite;
    z-index:1;
}

@keyframes slide
{
    0%
    {
        left: 0%;
    }
    10%
    {
        left: 0%;
    }
    12%
    {
        left: -100%;
    }

    22%
    {
        left: -100%;
    }

    24%
    {
        left: -200%;
    }

    34%
    {
        left: -200%;
    }

    36%
    {
        left: -300%
    }

    46%
    {
        left: -300%;
    }

    48%
    {
        left: -200%;
    }

    58%
    {
        left: -200%;
    }

    60%
    {
        left: -100%;
    }
    70%
    {
        left: -100%;
    }
    72%
    {
        left: -100%;
    }
   
  
    94%
    {
        left: 0%;
    }
 


}




div.sale
{
    background-color:sandybrown;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;
}


div.new
{
    background-color:sandybrown;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;
}

div.newitemwrapper
{
    background-color:cornsilk;
    width:inherit;
    height:300px;
    margin:auto;
    padding-left:55px;
    overflow:auto;

}



div.products
{
    background-color:sandybrown;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;   
}

div#itemwrapper
{
    background-color:cornsilk;
    width:inherit;
    height:600px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 55px;
    overflow:auto;
}


.item1
{
    float:left;
    border:5px solid burlywood;
    margin:50px 20px 0px 60px;
    border: 3px solid rosybrown;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
}

.item1 img
{
    height: 100%;
    width: 100%;
}

.item1 .prodtext
{
    position:absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width:100%; 
    height:100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}


.item1:hover .prodtext
{
    top:0px;
}
.item1 .prodtext h4
{
    font-size: 15px;
    font-weight:bold;
    text-align:center;
    border-bottom: 1px solid brown;
    padding-bottom:10px;
    margin-top: 10px;
}



.item1 .prodtext p
{
    margin: 15px 0px;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
}

div.item1 .prodtext a.morebutton
{
    width: 100px;
    text-align: center;
    padding:10px 0px;
    display:block;
    color:#fff;
    background:rosybrown;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 0px auto 0px auto;
}

div.item1 .prodtext a.morebutton:hover
{
    background:antiquewhite;
}





div#formwrapper
{
    background-color:blanchedalmond;
}
div.contact h4
{
    text-align:center;
    font-size:40px;
    margin-top:-2px;
    border-bottom:3px solid black;
}

div.messageinput
{
    width:200px;
}





div.mapwrapper
{
    background-color:sandybrown;
    height:1100px;
    border:1px solid brown;
    
}
div.mapwrapper h4
{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    margin-top: 15px;
    border-bottom: 1px solid brown;
}

div.maplabel
{
    margin-left:280px;
    font-size:30px;
    margin-bottom:-20px;
}
.static
{
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left:250px;
    padding-top:50px;
}
div#staticmap
{
    border:2px solid brown;
    width:500px;
    height:400px;
    float:left;
    margin-left:40px;
    margin-top:10px;
}
div#staticmap img
{
    width:500px;
    height:400px;
}
div#map
{
    border:2px solid brown;
    width:500px;
    height:400px;
    float:left;
    margin-left:40px;
}

div.mapdesc p
{
    border: 3px solid brown;
    float:right;
    margin-right:100px;
    margin-top:-1px;
    width: 293px;
    height:870px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-weight:bold;
    padding: 7px;
}


div.faqwrapper
{
    background-color:antiquewhite;
    height:500px;
    padding-top:10px;
    border:1px solid black;
}
div.faqwrapper h2
{
    text-align:center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: -1px;
}
div.faqwrapper p
{
    margin-left:10px;
    font-weight:bold;
}
div.aboutwrap
{
    background-color:antiquewhite;
    height:500px;
    padding-top:10px;
    border:1px solid black;
    
}
div.aboutwrap h3
{

    border-bottom:1px solid black;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    padding-bottom:10px;
    margin-top:-2px;
}
div.aboutwrap p
{
    margin-left:10px;
}

div.footer
{
    background-color:#F8F6F6;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid black;
}
div.footerindex
{ 
    text-align:center;
    background-color:#F8F6F6;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    padding: 15px 0 10px 0;
    border: 2px solid black;
}




