body
{ 
    background-color:#BC8F8F;
    font-family:Arial;

}
h1 {color:black;
    text-align:center;
}

div.motherdiv
{
    margin: 10px auto;
    vertical-align:top;
    width:1000px;
    background-color:#BC8F8F;
}
div.logo
{
    text-align: center;
    padding: 1px;
    margin: 1px;
    background-color:#F8F6F6;
    border:5px solid #222;
}


.selected
{
    background-color:#79F0FF;
    color:#000000;
    padding:3px 0 3px 0;  
}

div#navbar
{
    background-color:#FFA879;
    width:995px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    z-index:3;
    position:relative;
    font-weight:bold;
    border:2px solid  black;
}
div#navbar ul
{
    list-style-type:none;
}

div#navbar ul li
{
    display:inline-block;
}

div#navbar ul li a
{
    padding-left:40px;
    padding-right:40px;
    display:block;
    text-decoration:none;
}

 
div#navbar ul li:hover
{
    background-color: #F0FFFF;
    text-decoration:none;
    border:3px solid black;
}

.banneritem
{
    border: 3px solid #BC8F8F;
    position:relative;
    
    overflow:hidden;
}


.banneritem .bannertext
{
    position:absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width:100%; 
    height:100%;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}



div.sale
{
    background-color:#D2B48C;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;
}


div.new
{
    background-color:#D2B48C;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;
}

div.newitemwrapper
{
    background-color:#FFF8DC;
    height:250px;
    width:996px;
    margin:auto;
    padding-left: 4px;
    padding-top:30px;
    overflow:auto;
}



div.products
{
    background-color:#D2B48C;
    text-align:center;
    padding: 15px 0 10px 0;
    font-weight:bold;   
}



div.itemdetail
{
    float:left;
    border:5px solid burlywood;
    margin:50px 20px 0px 100px;
    border: 3px solid #BC8F8F;
    width:500px;
    height:400px;
}

div.itemdetail img
{
    height: 100%;
    width: 100%;
}
div.smallimgwrap
{
    margin-top:300px;
    margin-left:240px;
    width:220px;
    height:100px;

}
div.itemdetail1
{
    float:left;
    border: 3px solid #BC8F8F;
    width:100px;
    height:100px;
}

div.itemdetail1 img
{
    height: 100%;
    width: 100%;
}
div.itemdetail2
{
    border: 3px solid #BC8F8F;
    margin-left:120px;
    height:100px;
}

div.itemdetail2 img
{
    height: 100%;
    width: 100%;
}
div.itemdetailtext
{
    float:left;
    border:1px solid brown;
    width:200px;
    margin-left:20px;
    margin-top:50px;
}
div.itemdetailtext p
{
    text-align:center;
}

span.priceinfo
{
    font-weight:bold;
}

 
div.cart
{
    float:left;
    margin-left:20px;
    margin-top:50px;
    width:40px;
    height:40px;
}

div.cart img
{
    height: 100%;
    width:100%;
}
div.addtocart
{
    border:1px solid brown;
    float:left;
    margin-left:20px;
    margin-top:50px;
    width:20px;
    height:20px;
}

div.addtocart a
{
    text-decoration:none;
    font-weight:bold;
}
div#itemwrapper
{
    
    background-color:cornsilk;
    height:700px;
    width:944px;
    padding-top:10px;
    padding-left: 55px;
    overflow:auto;
}

div#productitemwrapper
{
    background-color:cornsilk;
    height:500px;
    width:996px;
    padding-top:10px;
    padding-left: 4px;
    overflow:auto;
}

.item1
{
    float:left;
    border: 3px solid #FF7F50;
    margin-left:15px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
}

.item1 img
{
    height: 100%;
    width: 100%;
}

.item1 .prodtext
{
    position:absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width:100%; 
    height:100%;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}


.item1:hover .prodtext
{
    top:0px;
}
.item1 .prodtext h4
{
    font-size: 15px;
    font-weight:bold;
    text-align:center;
    border-bottom: 1px solid #FFFAF0;
    padding-bottom:10px;
    margin-top: 10px;
}



.item1 .prodtext p
{
    margin: 15px 0px;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
}

div.item1 .prodtext a.morebutton
{
    width: 100px;
    text-align: center;
    padding:10px 0px;
    display:block;
    color: #010101;
    background:	#FAFAFA;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 0px auto 0px auto;
}

div.item1 .prodtext a.morebutton:hover
{
    background:	#010101;
    color: #FAFAFA;
}





div#formwrapper
{
    background-color:blanchedalmond;
    height:500px;
}
div.contact h4
{
    text-align:center;
    font-size:40px;
    margin-top:-2px;
    border-bottom:3px solid black;
}

div.labelname
{
    float:left;
    margin-left:240px;
    height: 304px;
}





div.mapwrapper
{
    background-color:sandybrown;
    height:1100px;
    border:1px solid brown;
    
}
div.mapwrapper h4
{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    margin-top: 15px;
    border-bottom: 1px solid brown;
}

div.maplabel
{
    margin-left:280px;
    font-size:30px;
    margin-bottom:-20px;
}
.static
{
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left:250px;
    padding-top:50px;
}
div#staticmap
{
    border:2px solid brown;
    width:500px;
    height:400px;
    float:left;
    margin-left:40px;
    margin-top:10px;
}
div#staticmap img
{
    width:500px;
    height:400px;
}
div#map
{
    border:2px solid brown;
    width:500px;
    height:400px;
    float:left;
    margin-left:40px;
}

div.mapdesc p
{
    border: 3px solid brown;
    float:right;
    margin-right:100px;
    margin-top:-1px;
    width: 293px;
    height:870px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-weight:bold;
    padding: 7px;
}

div.regsignwrapper
{
    width:1000px;
    height: 550px;
}

div.loginwrap
{
    float:left;
    background-color:sandybrown;
    height:50px;
    width:499px;
    border:1px solid black;
    text-align:center;
}
div.logincontent
{
    float:left;
    background-color:antiquewhite;
    height: 500px;
    width:499px;
    border:1px solid black;
}

div.loglabel
{
    margin-top:30px;
    margin-left:100px;
    font-weight:bold;
}

div.loginbutton
{
    margin-top:20px;
    margin-left:186px;
}


div.registerwrap
{
    float:left;
    margin-left:500px;
    margin-top:-555px;
    background-color:sandybrown;
    height:50px;
    width:499px;
    border:1px solid black;
    text-align:center;
}
div.registercontent
{
    float:left;
    margin-left:500px;
    margin-top:-503px;
    background-color:antiquewhite;
    height: 500px;
    width:499px;
    border:1px solid black;
}


div.reglabel

{
    margin-top:30px;
    margin-left:100px;
    font-weight:bold;
}
div.regtxtbox
{
    margin-left:100px;
    font-weight:bold;
}

div.regbuttoncss
{
    margin-left:170px;
    font-weight:bold;
}

div.lit
{
    margin-left:150px;
    font-weight:bold;
}

div.imguploadmargin
{
    margin-left:130px;
}

div.imguploadheader
{
    text-align:center;
    font-weight:bold;
}
div.upimgwrap
{
    background-color:sandybrown;
    height:700px;
    border:1px solid brown;
    overflow:scroll;
}


div.faqwrapper
{
    background-color:antiquewhite;
    height:500px;
    padding-top:10px;
    border:1px solid black;
}
div.faqwrapper h2
{
    text-align:center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: -1px;
}
div.faqwrapper p
{
    margin-left:10px;
    font-weight:bold;
}
div.aboutwrap
{
    background-color:antiquewhite;
    height:500px;
    padding-top:10px;
    border:1px solid black;
    
}
div.aboutwrap h3
{

    border-bottom:1px solid black;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    padding-bottom:10px;
    margin-top:-2px;
}
div.aboutwrap p
{
    margin-left:10px;
}

div.footerindex
{ 
    text-align:center;
    background-color:#F8F6F6;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    padding: 15px 0 10px 0;
    border: 2px solid black;
}

.addProdHeader
{
    background-color:#F8F6F6;
    text-align:center;
    padding: 3px 0 3px 0;
    font-weight:bold;
    border:solid 1px black;
}
.addFormWrapper
{
    background-color:azure;
    width:995px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 3px black;
    margin-bottom:10px;
}

.manageProdHeader
{
    background-color:#F8F6F6;
    text-align:center;
    padding: 3px 0 3px 0;
    font-weight:bold;
    border:solid 1px black; 
}
.datagridAdminWrapper
{
    background-color:antiquewhite;
    width:995px;
    height:200px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 3px black;
    overflow: scroll;
    
}



